<manifest>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
	<application>
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="$uexGaodeMap_APIKey$"/>
	</application>
</manifest>